---
const { name, description, link, image } = Astro.props;
---

<div class="bg-white rounded-lg shadow p-4 mb-6 max-w-md mx-auto text-black">
  {image && (
    <div class="w-full h-48 overflow-hidden rounded mb-4">
      <img
        src={image}
        alt={`Imagen del proyecto ${name}`}
        class="w-full h-full object-cover"
      />
    </div>
  )}
  <h3 class="text-xl font-semibold text-gray-800">{name}</h3>
  <p class="text-gray-600 my-2">{description}</p>
  {link && (
    <a
      href={link}
      class="text-blue-500 hover:underline inline-block mt-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      Ver Proyecto
    </a>
  )}
</div>


